In [5]:
#Exercise - upload a csv file to your github repository and create a data table from it
import pandas as pd

def get_csv_data():
  url = "https://raw.githubusercontent.com/Braininhood/air-quality-data/main/data-selector-export.csv"
  df = pd.read_csv(url)
  return df

data = get_csv_data()
display(data)

    Unnamed: 0  Thurrock Unnamed: 2
0         Date     Ozone     Status
1   01/07/2024  50.97588    P µg/m³
2   02/07/2024  44.81178    P µg/m³
3   03/07/2024  45.28576    P µg/m³
4   04/07/2024  60.33666    P µg/m³
5   05/07/2024  40.68733    P µg/m³
6   06/07/2024  48.12963    P µg/m³
7   07/07/2024  49.00275    P µg/m³
8   08/07/2024  48.72834    P µg/m³
9   09/07/2024  37.07013    P µg/m³
10  10/07/2024  60.60276    P µg/m³
11  11/07/2024  64.12849    P µg/m³
12  12/07/2024  55.47215    P µg/m³
13  13/07/2024  53.81738    P µg/m³
14  14/07/2024  65.11803    P µg/m³
15  15/07/2024  50.88204    P µg/m³
16  16/07/2024  53.74254    P µg/m³
17  17/07/2024  55.67135    P µg/m³
18  18/07/2024  57.08534    P µg/m³
19  19/07/2024  77.76578    P µg/m³
20  20/07/2024  46.43329    P µg/m³
21  21/07/2024  50.99845    P µg/m³
22  22/07/2024  47.29809    P µg/m³
23  23/07/2024  45.84123    P µg/m³

In [19]:
# Exercise - upload a csv file directly into your notebook
import pandas as pd

def get_local_csv_data():
  filename = r"C:\Users\kdomm\Downloads\data-selector-export.csv"
  df = pd.read_csv(filename)
  return df

data = get_local_csv_data()
display(data)

    Unnamed: 0  Thurrock Unnamed: 2
0         Date     Ozone     Status
1   01/07/2024  50.97588    P µg/m³
2   02/07/2024  44.81178    P µg/m³
3   03/07/2024  45.28576    P µg/m³
4   04/07/2024  60.33666    P µg/m³
5   05/07/2024  40.68733    P µg/m³
6   06/07/2024  48.12963    P µg/m³
7   07/07/2024  49.00275    P µg/m³
8   08/07/2024  48.72834    P µg/m³
9   09/07/2024  37.07013    P µg/m³
10  10/07/2024  60.60276    P µg/m³
11  11/07/2024  64.12849    P µg/m³
12  12/07/2024  55.47215    P µg/m³
13  13/07/2024  53.81738    P µg/m³
14  14/07/2024  65.11803    P µg/m³
15  15/07/2024  50.88204    P µg/m³
16  16/07/2024  53.74254    P µg/m³
17  17/07/2024  55.67135    P µg/m³
18  18/07/2024  57.08534    P µg/m³
19  19/07/2024  77.76578    P µg/m³
20  20/07/2024  46.43329    P µg/m³
21  21/07/2024  50.99845    P µg/m³
22  22/07/2024  47.29809    P µg/m³
23  23/07/2024  45.84123    P µg/m³

In [21]:
# Exercise - read from an Excel spreadsheet

import pandas as pd

def get_excel_data():
  url = "https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx?raw=true"
  df = pd.read_excel(url)
  return df

migration_df = get_excel_data()
display(migration_df)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [31]:
# Exercise - read from an API
import pandas as pd
import requests

def get_api_data():
    url = "https://api.carbonintensity.org.uk/regional/scotland"
    json_data = requests.get(url).json()['data']
    return json_data

# Step 1-5: Fetch the data and inspect the first element
generation_data = get_api_data()
print(generation_data[0])  # Debug: Print the first element to inspect its structure

# Step 6: Normalize generation_data[0]
normalized_df = pd.json_normalize(generation_data[0])
display(normalized_df)  # Debug: Display the normalized DataFrame to inspect its structure

# Check if 'generationmix' is a column
if 'generationmix' in normalized_df.columns:
    # Step 7: Explode the 'generationmix' column
    exploded_df = normalized_df.explode('generationmix', ignore_index=True)

    # Display the resulting DataFrame
    display(exploded_df)

    # Extension: Normalize the 'generationmix' column further to separate its attributes
    generationmix_df = pd.json_normalize(exploded_df['generationmix'])

    # Combine the normalized 'generationmix' with the exploded DataFrame
    final_df = exploded_df.drop(columns=['generationmix']).join(generationmix_df)

    # Display the final DataFrame
    display(final_df)
else:
    print("The column 'generationmix' was not found in the normalized DataFrame.")

{'regionid': 16, 'dnoregion': 'Scotland', 'shortname': 'Scotland', 'data': [{'from': '2024-07-24T16:30Z', 'to': '2024-07-24T17:00Z', 'intensity': {'forecast': 14, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.9}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 3.3}, {'fuel': 'nuclear', 'perc': 8.4}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.2}, {'fuel': 'solar', 'perc': 2}, {'fuel': 'wind', 'perc': 85.1}]}]}

,regionid,dnoregion,shortname,data
0,16,Scotland,Scotland,"[{'from': '2024-07-24T16:30Z', 'to': '2024-07-..."