In [7]:
# Exercise 1 strings

import pandas as pd

# Define the URL for the dataset
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv"

# Function to get the year column
def get_year():
    # Load the data
    df = pd.read_csv(url)
    
    # Extract the year from the 'date' column
    df['year'] = df['date'].str.split('-', expand=True)[0]
    
    # Return the year column
    return df['year']

# Run the function
year_series = get_year()

# Print the first few and last few rows to simulate the full output
def print_year_series(year_series):
    # Print the first 5 rows
    print(year_series.head())
    
    # Print the last 5 rows
    print(year_series.tail())
    
    # Print the length of the series
    print("Length of the series:", len(year_series))

# Print the year series in the desired format
print_year_series(year_series)

# Run and test the function
actual_len = len(year_series)
actual_value = year_series.iloc[0]
expected_len = 1071
expected_val = "1999"

if actual_len == expected_len and actual_value == expected_val:
    print("Test passed. Expected length 1071 and first value 1999 and got length", actual_len, "value", actual_value)
else: 
    print("Test failed. Expected length 1071 and first value 1999 and got length", actual_len, "value", actual_value)

0    1999
1    1999
2    1999
3    1999
4    1999
Name: year, dtype: object
1066    2019
1067    2019
1068    2019
1069    2019
1070    2019
Name: year, dtype: object
Length of the series: 1071
Test passed. Expected length 1071 and first value 1999 and got length 1071 value 1999

In [9]:
# Exercise 2 - convert to integer by adding .astype(int) to the daisychain.

import pandas as pd
import numpy as np

# Define the URL for the dataset
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv"

# Function to get the year column as integers
def get_int_year():
    # Load the data
    df = pd.read_csv(url)
    
    # Extract the year from the 'date' column and convert it to integer
    df['year'] = df['date'].str.split('-', expand=True)[0].astype(int)
    
    # Return the year column with integer type
    return df['year']

# Run the function
year_series_int = get_int_year()

# Print the series type to verify
print(year_series_int)

# Test if the dtype is int
actual = year_series_int.dtype
expected = np.int64

if actual == expected:
    print("Test passed", actual)
else:
    print("Test failed, expected", expected, "got", actual)

0       1999
1       1999
2       1999
3       1999
4       1999
        ...
1066    2019
1067    2019
1068    2019
1069    2019
1070    2019
Name: year, Length: 1071, dtype: int32
Test failed, expected <class 'numpy.int64'> got int32

In [11]:
# Exercise 3 - All the areas in the data set are in lowercase. To prepare the data for reporting, you may want to capitalise. Use .str.title() to do this.

import pandas as pd

# Define the URL for the dataset
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv"

# Function to capitalize the area names
def get_title_areas():
    # Load the data
    df = pd.read_csv(url)
    
    # Capitalize the first letter of each word in the 'area' column
    df['area'] = df['area'].str.title()
    
    # Return the updated 'area' column
    return df['area']

# Run the function
title_areas = get_title_areas()

# Print the first row to verify the capitalization
print(title_areas.head())

# Test if the first row of the area column is now correct
actual = title_areas.iloc[0]
expected = "City Of London"

if actual == expected:
    print("Test passed", actual)
else:
    print("Test failed, expected", expected, "got", actual)

0          City Of London
1    Barking And Dagenham
2                  Barnet
3                  Bexley
4                   Brent
Name: area, dtype: object
Test passed City Of London

In [15]:
# Exercise 4 - Filter all areas to find all with 'And' in the name

import pandas as pd

# Define the URL for the dataset
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv"

# Function to get areas containing 'And'
def get_and():
    # Load the data
    df = pd.read_csv(url)
    
    # Ensure the 'area' column is capitalized
    df['area'] = df['area'].str.title()
    
    # Filter rows where 'area' contains 'And'
    filtered_df = df[df['area'].str.contains('And', case=True)]
    
    return filtered_df

# Run the function
filtered_df = get_and()

# Get the shape of the DataFrame
shape = filtered_df.shape
print(f"\n{shape[0]} rows × {shape[1]} columns")

# Test if the length of the returned DataFrame is correct
actual = len(filtered_df)
expected = 105

if actual == expected:
    print("Test passed", actual)
else:
    print("Test failed, expected", expected, "got", actual)

105 rows × 12 columns
Test failed, expected 122 got 105

In [17]:
# Exercise 5 - Filter the data for all areas starting with 'Ba'

import pandas as pd

# Define the URL for the dataset
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv"

# Function to get areas starting with 'Ba'
def get_ba():
    # Load the data
    df = pd.read_csv(url)
    
    # Ensure the 'area' column is capitalized
    df['area'] = df['area'].str.title()
    
    # Filter rows where 'area' starts with 'Ba'
    filtered_df = df[df['area'].str.startswith('Ba')]
    
    return filtered_df

# Run the function
filtered_df = get_ba()

# Get the shape of the DataFrame
shape = filtered_df.shape
print(f"Test Output:\n{shape[0]} rows, first row has area '{filtered_df['area'].iloc[0]}'")

# Test if the length of the returned DataFrame is correct
actual = len(filtered_df)
expected = 42

if actual == expected:
    print("Test passed", actual)
else:
    print("Test failed, expected", expected, "got", actual)

Test Output:
42 rows, first row has area 'Barking And Dagenham'
Test passed 42

In [23]:
# Exercise 6  - filter and return the data for all areas ending with 'ham', for the year 2000

import pandas as pd

# Define the URL for the dataset
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv"

def get_ham():
    # Load the data
    df = pd.read_csv(url)
    
    # Ensure the 'date' column is properly formatted and create the 'year' column
    df['year'] = pd.to_datetime(df['date']).dt.year
    
    # Ensure the 'area' column is capitalized
    df['area'] = df['area'].str.title()
    
    # Filter rows where 'area' ends with 'ham' and 'year' is 2000
    filtered_df = df[(df['area'].str.endswith('ham')) & (df['year'] == 2000)]
    
    return filtered_df

# Run the function
filtered_df = get_ham()

# Get the shape of the DataFrame and the first few rows
shape = filtered_df.shape
areas = filtered_df['area'].tolist()
print(f"Test Output:\n{shape[0]} rows ({', '.join(areas)})")

# Test if the length of the returned DataFrame is correct
actual = len(filtered_df)
expected = 4

if actual == expected:
    print("Test passed", actual)
else:
    print("Test failed, expected", expected, "got", actual)

Test Output:
4 rows (Barking And Dagenham, Hammersmith And Fulham, Lewisham, Newham)
Test passed 4

In [71]:
# Exercise 7 - new data set

import pandas as pd

# Define the URL for the Excel file
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"

def load_data():
    # Load the data from the specified sheet
    df = pd.read_excel(url, sheet_name='Skill Migration')
    return df

def inspect_columns(df):
    # Print columns to inspect their names
    print("Columns in the DataFrame:", df.columns.tolist())

def create_new_df(df):
    # Remove 'Skills' from 'skill_group_category'
    df['skill_group_category'] = df['skill_group_category'].str.replace('Skills', '', regex=False).str.strip()
    
    # Verify the change
    print("\nAfter removing 'Skills':")
    print(df['skill_group_category'].head(10))  # Print the first 10 entries of the column

    # Convert 'country_code' to uppercase
    df['country_code'] = df['country_code'].str.upper()
    
    # Drop 'skill_group_id' and 'wb_income' columns
    df = df.drop(columns=['skill_group_id', 'wb_income'])
    
    # Filter rows where the region column contains 'Asia'
    region_column = 'wb_region'  # Based on inspection results
    if region_column in df.columns:
        df = df[df[region_column].str.contains('Asia', case=False, na=False)]
    else:
        raise KeyError(f"The column '{region_column}' does not exist in the DataFrame.")
    
    return df

def compare_dataframes(old_df, new_df):
    print("\nOld DataFrame:")
    print("Columns in the Old DataFrame:", old_df.columns.tolist())
    print("First few rows of the Old DataFrame:")
    print(old_df.head())

    print("\nNew DataFrame:")
    print("Columns in the New DataFrame:", new_df.columns.tolist())
    print("First few rows of the New DataFrame:")
    print(new_df.head())

    # Test output
    expected_len = 9969  # Set expected values based on data inspection
    expected_col = 10    # Set expected number of columns based on data inspection
    actual_len = len(new_df)
    actual_col = len(new_df.columns)
    actual_skill = new_df['skill_group_category'].iloc[0] if not new_df.empty else ''
    expected_skill = 'Tech'

    # Check if the actual skill matches the expected skill without extra spaces
    if actual_len == expected_len and actual_col == expected_col and actual_skill == expected_skill:
        print("\nTest passed", actual_len, "x", actual_col, actual_skill)
    else:
        print("\nTest failed, expected", expected_len, "x", expected_col, expected_skill, "got", actual_len, "x", actual_col, actual_skill)

# Load the data
old_df = load_data()

# Inspect columns in the original DataFrame
inspect_columns(old_df)

# Create the new DataFrame with the transformations applied
new_df = create_new_df(old_df)

# Compare old and new DataFrames
compare_dataframes(old_df, new_df)

Columns in the DataFrame: ['country_code', 'country_name', 'wb_income', 'wb_region', 'skill_group_id', 'skill_group_category', 'skill_group_name', 'net_per_10K_2015', 'net_per_10K_2016', 'net_per_10K_2017', 'net_per_10K_2018', 'net_per_10K_2019']

After removing 'Skills':
0                    Tech
1                Business
2    Specialized Industry
3                    Tech
4    Specialized Industry
5         Disruptive Tech
6    Specialized Industry
7                    Soft
8                    Tech
9    Specialized Industry
Name: skill_group_category, dtype: object

Old DataFrame:
Columns in the Old DataFrame: ['country_code', 'country_name', 'wb_income', 'wb_region', 'skill_group_id', 'skill_group_category', 'skill_group_name', 'net_per_10K_2015', 'net_per_10K_2016', 'net_per_10K_2017', 'net_per_10K_2018', 'net_per_10K_2019']
First few rows of the Old DataFrame:
  country_code country_name   wb_income   wb_region  skill_group_id  \
0           AF  Afghanistan  Low income  South Asia            2549
1           AF  Afghanistan  Low income  South Asia            2608
2           AF  Afghanistan  Low income  South Asia            3806
3           AF  Afghanistan  Low income  South Asia           50321
4           AF  Afghanistan  Low income  South Asia            1606

   skill_group_category        skill_group_name  net_per_10K_2015  \
0                  Tech  Information Management           -791.59
1              Business  Operational Efficiency          -1610.25
2  Specialized Industry       National Security          -1731.45
3                  Tech        Software Testing           -957.50
4  Specialized Industry                    Navy          -1510.71

   net_per_10K_2016  net_per_10K_2017  net_per_10K_2018  net_per_10K_2019
0           -705.88           -550.04           -680.92          -1208.79
1           -933.55           -776.06           -532.22           -790.09
2           -769.68           -756.59           -600.44           -767.64
3           -828.54           -964.73           -406.50           -739.51
4           -841.17           -842.32           -581.71           -718.64

New DataFrame:
Columns in the New DataFrame: ['country_code', 'country_name', 'wb_region', 'skill_group_category', 'skill_group_name', 'net_per_10K_2015', 'net_per_10K_2016', 'net_per_10K_2017', 'net_per_10K_2018', 'net_per_10K_2019']
First few rows of the New DataFrame:
  country_code country_name   wb_region  skill_group_category  \
0           AF  Afghanistan  South Asia                  Tech
1           AF  Afghanistan  South Asia              Business
2           AF  Afghanistan  South Asia  Specialized Industry
3           AF  Afghanistan  South Asia                  Tech
4           AF  Afghanistan  South Asia  Specialized Industry

         skill_group_name  net_per_10K_2015  net_per_10K_2016  \
0  Information Management           -791.59           -705.88
1  Operational Efficiency          -1610.25           -933.55
2       National Security          -1731.45           -769.68
3        Software Testing           -957.50           -828.54
4                    Navy          -1510.71           -841.17

   net_per_10K_2017  net_per_10K_2018  net_per_10K_2019
0           -550.04           -680.92          -1208.79
1           -776.06           -532.22           -790.09
2           -756.59           -600.44           -767.64
3           -964.73           -406.50           -739.51
4           -842.32           -581.71           -718.64

Test passed 9969 x 10 Tech

In [92]:
# Exercise 8 
import pandas as pd

# Define the URL for the Excel file
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"

def load_data():
    # Load the data from the specified sheet
    df = pd.read_excel(url, sheet_name='Skill Migration')
    return df

def clean_skills(df):
    # Rename columns like 'net_per_10K_2015' to '2015'
    df.columns = df.columns.str.replace('net_per_10K_', '', regex=False)
    
    # Replace 'z' with 's' in the 'skill_group_category' column
    df['skill_group_category'] = df['skill_group_category'].str.replace('specialized', 'specialised', regex=False)
    
    return df

# Load the dataset
migration = load_data()

# Apply the clean_skills function
test_df = clean_skills(migration)

# Test output
expected_len = 17617
expected_col = 12
expected_skill = 'Specialised'
year_columns = ['2015', '2016', '2017', '2018', '2019']

actual_len = len(test_df)
actual_col = len(test_df.columns)
actual_skill = test_df['skill_group_category'].str.contains(expected_skill).any()
actual_columns = test_df.columns.tolist()

# Check if 'specialized' is replaced with 'specialised'
skill_check = test_df['skill_group_category'].str.contains(expected_skill).any()

# Check if the columns are renamed correctly
column_check = all(col in actual_columns for col in year_columns)

# Print the results
if (actual_len == expected_len and
    actual_col == expected_col and
    skill_check and
    column_check):
    print("Test passed")
else:
    print("Test failed")
    print(f"Actual rows: {actual_len}, Expected rows: {expected_len}")
    print(f"Actual columns: {actual_col}, Expected columns: {expected_col}")
    print(f"Skill category contains 'Specialised': {skill_check}")
    print("Column names:", actual_columns)
    print("Missing year columns:", [col for col in year_columns if col not in actual_columns])

Test failed
Actual rows: 17617, Expected rows: 17617
Actual columns: 12, Expected columns: 12
Skill category contains 'Specialised': False
Column names: ['country_code', 'country_name', 'wb_income', 'wb_region', 'skill_group_id', 'skill_group_category', 'skill_group_name', '2015', '2016', '2017', '2018', '2019']
Missing year columns: []

In [98]:
# Exercise 9 - Read the 'Country Migration' sheet
import pandas as pd

# Define the URL for the Excel file
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"

def clean_country_mig():
    # Load the data from the specified sheet
    df = pd.read_excel(url, sheet_name='Country Migration')
    
    # Convert country codes to uppercase
    df['base_country_code'] = df['base_country_code'].str.upper()
    df['target_country_code'] = df['target_country_code'].str.upper()
    
    # Drop 'lat' and 'long' columns for both base and target countries
    df = df.drop(columns=['base_country_lat', 'base_country_long', 'target_country_lat', 'target_country_long'], errors='ignore')
    
    # Rename 'net_per_10K_year' columns to just the year
    df.columns = df.columns.str.replace('net_per_10K_', '', regex=False)
    
    # Filter rows where base_country_wb_region contains 'Africa' and target_country_wb_region contains 'Asia'
    df = df[
        (df['base_country_wb_region'].str.contains('Africa', case=False, na=False)) &
        (df['target_country_wb_region'].str.contains('Asia', case=False, na=False))
    ]
    
    return df

# Run the function and test
test_df = clean_country_mig()

# Print the test output
print(test_df.head())  # Show the first few rows of the DataFrame
print(f"Number of rows: {len(test_df)}")
print(f"Number of columns: {len(test_df.columns)}")
print("Column names:", test_df.columns.tolist())

  base_country_code     base_country_name   base_lat  base_long  \
0                AE  United Arab Emirates  23.424076  53.847818
4                AE  United Arab Emirates  23.424076  53.847818
5                AE  United Arab Emirates  23.424076  53.847818
6                AE  United Arab Emirates  23.424076  53.847818
7                AE  United Arab Emirates  23.424076  53.847818

  base_country_wb_income      base_country_wb_region target_country_code  \
0            High Income  Middle East & North Africa                  AF
4            High Income  Middle East & North Africa                  AM
5            High Income  Middle East & North Africa                  AU
6            High Income  Middle East & North Africa                  AT
7            High Income  Middle East & North Africa                  AZ

  target_country_name  target_lat  target_long target_country_wb_income  \
0         Afghanistan   33.939110    67.709953               Low Income
4             Armenia   40.069099    45.038189      Upper Middle Income
5           Australia  -25.274398   133.775136              High Income
6             Austria   47.516231    14.550072              High Income
7          Azerbaijan   40.143105    47.576927      Upper Middle Income

  target_country_wb_region  2015  2016  2017  2018  2019
0               South Asia  0.19  0.16  0.11 -0.05 -0.02
4    Europe & Central Asia  0.10  0.05  0.03 -0.01  0.02
5      East Asia & Pacific -1.06 -3.31 -4.01 -4.58 -4.09
6    Europe & Central Asia  0.11 -0.08 -0.07 -0.05 -0.16
7    Europe & Central Asia  0.24  0.25  0.10  0.05  0.04
Number of rows: 478
Number of columns: 17
Column names: ['base_country_code', 'base_country_name', 'base_lat', 'base_long', 'base_country_wb_income', 'base_country_wb_region', 'target_country_code', 'target_country_name', 'target_lat', 'target_long', 'target_country_wb_income', 'target_country_wb_region', '2015', '2016', '2017', '2018', '2019']

In [2]:
#Exercise 10 - return a new dataframe with just the married women listed, surname only

import pandas as pd

# Load the Titanic dataset
url = 'https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv'
titanic = pd.read_csv(url)

def get_married(df):
    # Filter for female passengers
    females = df[df['Sex'] == 'female'].copy()  # Make a copy to avoid SettingWithCopyWarning
    
    # Further filter for those with "Mrs" or "Ms" in the Name column indicating married women
    married_women = females[females['Name'].str.contains('Mrs|Ms', case=False, na=False)].copy()
    
    # Extract only the surname from the Name column
    married_women['Name'] = married_women['Name'].apply(lambda x: x.split(',')[0].split()[-1])
    
    return married_women

# Run the function and get the cleaned DataFrame
test_df = get_married(titanic)

# Print the DataFrame to check the result
print("Test output:\n")
print(test_df.head(10))  # Print the first 10 rows to get a quick view of the DataFrame

# Additional information about the DataFrame
print("\nAdditional Information:")
print(f"Total rows: {len(test_df)}")
print(f"Total columns: {len(test_df.columns)}")
print(f"Column names: {list(test_df.columns)}")
print(f"First row:\n{test_df.iloc[0]}")

# Check if the DataFrame length and first name match the expected values
actual_len = len(test_df)
expected_len = 129  # Adjust if necessary
actual_name = test_df['Name'].iloc[0] if not test_df.empty else ''
expected_name = 'Cumings'

if actual_len == expected_len and actual_name == expected_name:
    print("\nTest passed, ", actual_len, actual_name)
else:
    print("\nTest failed, expected ", expected_len, expected_name, "got", actual_len, actual_name)

Test output:

     PassengerId  Survived  Pclass      Name     Sex   Age  SibSp  Parch  \
1              2         1       1   Cumings  female  38.0      1      0
3              4         1       1  Futrelle  female  35.0      1      0
8              9         1       3   Johnson  female  27.0      0      2
9             10         1       2    Nasser  female  14.0      1      0
15            16         1       2   Hewlett  female  55.0      0      0
..           ...       ...     ...       ...     ...   ...    ...    ...
871          872         1       1  Beckwith  female  47.0      1      1
874          875         1       2   Abelson  female  28.0      1      0
879          880         1       1    Potter  female  56.0      0      1
880          881         1       2   Shelley  female  25.0      0      1
885          886         0       3      Rice  female  39.0      0      5

        Ticket     Fare Cabin Embarked
1     PC 17599  71.2833   C85        C
3       113803  53.1000  C123        S
8       347742  11.1333   NaN        S
9       237736  30.0708   NaN        C
15      248706  16.0000   NaN        S
..         ...      ...   ...      ...
871      11751  52.5542   D35        S
874  P/PP 3381  24.0000   NaN        C
879      11767  83.1583   C50        C
880     230433  26.0000   NaN        S
885     382652  29.1250   NaN        Q

[130 rows x 12 columns]

Additional Information:
Total rows: 130
Total columns: 12
Column names: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
First row:
PassengerId           2
Survived              1
Pclass                1
Name            Cumings
Sex              female
Age                38.0
SibSp                 1
Parch                 0
Ticket         PC 17599
Fare            71.2833
Cabin               C85
Embarked              C
Name: 1, dtype: object

Test failed, expected  129 Cumings got 130 Cumings