In [14]:
def list_numbers():
#number list
    for i in range (10):
        print (i)
    

list_numbers()

0
1
2
3
4
5
6
7
8
9

In [16]:
def list_number_range():
#list number range

    for i in range (5,16):
        print (i)
    

list_number_range()

5
6
7
8
9
10
11
12
13
14
15

In [17]:
def list_evens():
#list evens

    for i in range (2,21,2):
        print (i)
    

list_evens()

2
4
6
8
10
12
14
16
18
20

In [18]:
def list_multiples():
#list multiples

    for i in range (1,13):
        print (i*3)
    

list_multiples()

3
6
9
12
15
18
21
24
27
30
33
36

In [24]:
def list_reverse():
#reverse list

    for i in range (15,4,-1):
        print (i)
    

list_reverse()

15
14
13
12
11
10
9
8
7
6
5

In [34]:
def calculate_sum_of():
#sum of range

    total = 0
    for loop in range (1,16):
        total = total + loop
    print (total)
    

calculate_sum_of()

120

In [39]:
def calculate_sum_of():
#average

    total = 0
    for loop in range (1,6):
        total = total + loop
    print (total//5)
    

calculate_sum_of()

3

In [40]:
def display_times_table():
#calculating times table

    num = int(input("Please, enter a number:"))
    for loop in range (1,11):
        print (loop, " x ",num," = ",loop*num)
    

display_times_table()

Please, enter a number: 2

1  x  2  =  2
2  x  2  =  4
3  x  2  =  6
4  x  2  =  8
5  x  2  =  10
6  x  2  =  12
7  x  2  =  14
8  x  2  =  16
9  x  2  =  18
10  x  2  =  20

In [46]:
def countdown():
#counting down numbers in reverse

    num = int(input("Please, enter a number:"))
    for loop in range (num,0,-1):
        print (loop)
    print ("GO")

countdown()

Please, enter a number: 4

4
3
2
1
GO

In [55]:
def find_multiples():
#finding numbers which are multiples of both 3 and 10, between 500 and 1500
   
    for loop in range (500,1500):
        if loop%3 == 0 and loop%10 == 0: 
            print (loop)

find_multiples()

510
540
570
600
630
660
690
720
750
780
810
840
870
900
930
960
990
1020
1050
1080
1110
1140
1170
1200
1230
1260
1290
1320
1350
1380
1410
1440
1470
1500